
importFrom("utils", "read.table", "write.table")
importFrom("fields", "tim.colors")
importFrom("graphics", ".filled.contour", "abline", "axTicks", "axis",
           "box", "boxplot", "contour", "image", "layout", "mtext",
           "par", "text")

export(qc_limit_check)
export(qc_limit_check_arch)
export(update_aws_status)
export(aggregate2hourly)
export(aggregate2daily)
export(aws_spatial_minutes)
export(aws_spatial_minutes_arch)
export(aws_spatial_hourly)
export(aws_spatial_hourly_arch)
export(aws_spatial_daily)
export(aws_spatial_daily_arch)

export(readCoords)
export(readCoordsMap)
export(readAWSWind)
export(readAWSInfo)
export(readAWSStatus)

export(displayMAP10min)
export(displayMAPAggr)
export(dispMapMSLPHourly)

export(chartMinAWSData)
export(chartAggrAWSData)
export(displayTableAgrrAWS)
export(chartAggrAWSDataSel)
export(displayTableAgrrDataSel)

export(downAWSMinDataCSV)
export(downTableAggrCSV)
export(downAWSAggrOneVarCSV)
export(downAWSAggrCDTDataCSV)
export(downAWS10MinSpCSV)
export(downAWSAggrSpCSV)

export(dispWindBarb)
export(dispWindRose)
export(dispWindContours)
export(downWindBarbCSV)
export(donwWindFreqCSV)
export(openairWindrose)

export(chartRainAccumulAWS)
export(displayMAPRainAccumul)
export(downRainAccumulTS)
export(downRainAccumulSP)
export(downMSLPHourly)

export(displayQCMinutes)

export(displayLogFiles)

export(aws_data_availability_all)
export(aws_data_availability_net)
export(aws_data_availability_ids)
export(aws_data_status_24hour)
export(aws_check_variables_ids)
export(aws_metadata)

export(aws_data_aggregate_ids)
export(aws_data_variables_ids)

