
importFrom("utils", "read.table")

export(qc_limit_check)
export(qc_limit_check_arch)
export(update_aws_status)
export(aggregate2hourly)
export(aggregate2daily)
export(aws_spatial_minutes)
export(aws_spatial_minutes_arch)
export(aws_spatial_hourly)
export(aws_spatial_hourly_arch)
